/* addshoe.css */

/* Style for the form container */
.form-container {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2; /* Light gray background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Style for form elements */
form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    background-color: #007BFF; /* Blue button color, change as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

footer {
    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: black;
}
