@import url('checkout.css');

/* Additional styles specific to the login page */
#loginForm {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    border-radius: 8px;
    max-width: 300px; 
    margin: 50px auto; 
    text-align: center;
}

.textBoxdiv {
    margin-bottom: 15px;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
    width: calc(100% - 16px); 
    padding: 8px;
    border: 1px solid #555;
    background-color: #222; 
    color: white;
    border-radius: 4px;
}

.loginBtn {
    background-color: #00ff00; 
    color: black;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginBtn:hover {
    background-color: #00cc00; 
}

.signup {
    color: white; 
    margin-top: 20px;
}

.signup a {
    color: #00ff00; 
    text-decoration: none;
}

.signup a:hover {
    color: #00cc00; 
}


footer {
    background-color: black; 
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px; 
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
