* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding 0;
    text-decoration: 0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    background-color: Gainsboro;
}

form{
    background: tan;
    width: 350px;
    height: 580px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

h1{
    text-align: center;
    margin-bottom: 45px;
    font-size: 45px;
}

.textBoxdiv{
    border-bottom: 2px solid black;
    position: relative;
    margin: 35px 0;
}

.textBoxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
    font-size: 20px;
}


::placeholder {
    color: white;
}

.loginBtn{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background-color: Gainsboro;
    background-size: 200%;
    color: black;
    font-size: 16px;
}

.loginBtn:hover{
    background-position: right;
    font-size: 20px;
    background-color: gray;
}

.signup {
    color: black;
    margin-top: 45px;
    text-align: center;
}

.signup a{
    color: black;
}

