.navbar {
    background-color: black;
    overflow: hidden;
    padding: 0px;

}

.navbar li{
    list-style-type: none;
    float: left;
    color: #FFFFFF;
}

.navbar a{
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    padding: 16px;
    display: inline-block;
}


.navbar li:hover {
 background-color: red;
}

.dropdown-content li{
    float: none;
}


.dropdown-content {
    padding: 0px;
    background-color: black;
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}