body {
    background-color: white; /* Set the overall background color for the dark theme */
    color: black; /* Set the default text color for better visibility on dark background */
    margin: 0; /* Remove default margin for the body */
}

/* Styles for the navbar */
.navbar {
    background-color: white; /* Set the white background for the navbar */
    overflow: hidden;
    padding: 0;
    list-style-type: none; /* Remove default list styles */
    margin: 0;
}

.navbar li {
    float: left;
}

.navbar a {
    color: black; /* Change text color for better visibility on white background */
    text-decoration: none;
    font-size: 24px;
    padding: 16px;
    display: inline-block;
}

.navbar li:hover {
    background-color: red;
}

.dropdown-content li {
    float: none;
}

.dropdown-content {
    padding: 0;
    background-color: #121212;
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}
