* {
	box-sizing: border-box;
}

.product {
	float: left;
	width: 33.3%;
	padding: 5px;
}

.product-list::after {
	content: "";
	display: table;
	clear: both;
}

footer {
    background-color: white;
    color: white;
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: black;
}
